

<ion-content class="ion-padding" color="light">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  routerLink="/login">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <p style="font-size:14px;text-align: center;margin-top: 5vh;margin-bottom: 5vh;">
    Enter Your EmploYes email account.
  </p>
  <ion-card style="width: 320px;margin: auto;">
    <form>
      <ion-list class="ion-padding">
        <ion-item fill="outline">
          <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="email" [(ngModel)]="email"  name="email" email="true"></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-button color="secondary" expand="block" shape="round" type="submit" class="ion-no-margin" (click)="reset()">Reset Password</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>
